<h2 mat-dialog-title>{{ data.name }}</h2>
<mat-dialog-content class="mat-typography">
    <img [src]="data.image" alt="Image de {{ data.name }}" style="width: 100%; margin-bottom: 1rem;">
    <p>{{ data.description }}</p>
    <p><strong>Capacity:</strong> {{ data.capacite }}</p>
    <p><strong>Prix:</strong> {{ data.prix }}</p>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Annuler</button>
    <button mat-raised-button color="primary" (click)="openHomeFormModal()">Réserver</button>
</mat-dialog-actions>